# SPDX-License-Identifier: MIT
---
- name: Set platform/version specific variables
  include_tasks: set_vars.yml

- name: Check and prepare role variables
  include_tasks: check-and-prepare-role-variables.yml

- name: Enable package repositories
  include_tasks: enable-package-repositories.yml
  when:
    - ha_cluster_enable_repos

- name: Install role essential packages
  package:
    name: "{{
      __ha_cluster_role_essential_packages
      +
      ha_cluster_extra_packages
    }}"
    state: present

# The user is created by installing pacemaker packages. We just need to set the
# password.
- name: Set hacluster password
  user:
    name: hacluster
    password: "{{
      ha_cluster_hacluster_password | string
      | password_hash('sha512', ansible_hostname.replace('-', 'x')[:16])
    }}"
  when:
    - ha_cluster_hacluster_password | string | length > 0

- name: Configure pcs / pcsd
  include_tasks: pcs-configure-pcs-pcsd.yml

- name: Install and configure HA cluster
  when: ha_cluster_cluster_present | bool
  block:
    - name: Install cluster packages
      package:
        name: "{{
          __ha_cluster_fullstack_node_packages
          +
          __ha_cluster_qdevice_in_use |
            ternary(__ha_cluster_qdevice_node_packages, [])
          +
          ha_cluster_sbd_enabled | ternary(__ha_cluster_sbd_packages, [])
          +
          ha_cluster_fence_agent_packages
        }}"
        state: present

    - name: Configure firewall
      include_tasks: firewall.yml

    - name: Configure selinux
      include_tasks: selinux.yml

    - name: Distribute fence-virt authkey
      include_tasks: distribute-fence-virt-key.yml
      when:
        - ansible_architecture == "x86_64"

    - name: Configure SBD
      include_tasks: sbd.yml

    - name: Configure corosync
      include_tasks: cluster-setup-corosync.yml

    - name: Pcs auth
      # Auth is run after corosync.conf has been distributed so that pcs
      # distributes pcs tokens in the cluster automatically.
      include_tasks: pcs-auth.yml

    - name: Distribute cluster shared keys
      # This is run after pcs auth, so that the nodes are authenticated against
      # a qnetd host, if configured, and can connect to the qnetd host's pcsd
      # to get qnetd certificates.
      include_tasks: cluster-setup-keys.yml

    - name: Enable or disable cluster services on boot
      include_tasks: cluster-enable-disable.yml

    - name: Start the cluster and reload corosync.conf
      include_tasks: cluster-start-and-reload.yml

    - name: Create and push CIB
      include_tasks: create-and-push-cib.yml

- name: Remove cluster configuration
  when: not ha_cluster_cluster_present
  block:
    - name: Remove cluster configuration
      include_tasks: cluster-destroy-{{ __ha_cluster_pcs_provider }}.yml

    - name: Remove fence-virt authkey
      file:
        path: /etc/cluster/fence_xvm.key
        state: absent

- name: Configure qnetd
  include_tasks: pcs-qnetd.yml
